// TYPOGRAPHY 			==============================

@mixin font-size($font-size: 16) {
	font-size : #{($font-size * 1.6)}px;
	font-size : #{$font-size / 10}rem; 
}


// Backgrounds of sections, control opacity in form
@mixin bg-rgba($color, $alfa: .75) {
	background: $color;
	background: rgba($color, $alfa);
}

// Backgrounds of sections, control opacity in form
@mixin transparent-bg($path-to-transparent-color) {
  background: url($path-to-transparent-color), url(../i/bg.jpg);
  background-repeat:  repeat, no-repeat;
  background-position: top left, center center;
  background-attachment: scroll, fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

@mixin transparent-bg-ipad($path-to-transparent-color) {
  background: url($path-to-transparent-color), url(../i/bg.jpg);
  background-repeat:  repeat, no-repeat;
  background-position: top left, center top;
  background-attachment: scroll, fixed; 
  -webkit-background-size: auto,  1534px 1024px; // fix not correct scaling in safari on ipad
}


@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";


