// 1. ROOT          ==============================

@-webkit-viewport { 
  width : device-width; 
}

@-moz-viewport { 
  width : device-width; 
}

@-ms-viewport { 
  width : device-width;
}

@-o-viewport { 
  width : device-width; 
}

@viewport { 
  width : device-width; 
}

html {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color : lighten($base-color, 75%);
  -webkit-text-size-adjust : 100%;
  -ms-text-size-adjust : 100%;
  background-color : transparent;
  font-size : 62.5%;
  /* Technique: http://css-tricks.com/perfect-full-page-background-image/ */
  /*background-image: url(../i/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  -webkit-background-size: 1534px 1024px; // fix not correct scaling in safari on ipad
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  */
}



body {
  margin : 0;
  padding : 0;
  width : 100%;
  position:relative;
  
  font-family : $base-font;
  @include font-size();
  line-height : $base-line-height;
  color : $text-color; 

}


.bg {
  position: fixed;

  z-index: 0;

  top: -45%; 
  left: -45%; 
  width: 190%; 
  height: 190%;

  img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    //width: 100%;
    //height: auto;
  
    //min-width: 50%;
    //min-height: 50%;
  }
}

.wrap {
  position: relative;
  z-index:1;
}