      <h1><a name="about">Who&nbsp;we&nbsp;are</a></h1>
        <p><strong>FLY2RUSSIA</strong> is&nbsp;a&nbsp;young independent aviation consultancy company.</p>
        <p><strong>Our mission</strong> is&nbsp;to&nbsp;open Russian and CIS aviation markets for&nbsp;our Partners.</p>
        <p>Our small team is&nbsp;a&nbsp;group of&nbsp;experienced aviation professionals. </p>
        <p>We know Russian and CIS markets, and we&nbsp;know how to&nbsp;promote and implement products of&nbsp;our Partners in&nbsp;the market. </p> 
        <p>We have a&nbsp;different consultancy model, our solutions are:</p>
        <ul class="principles">
          <li>Efficient</li>
          <li>Simple</li>
          <li>Result-oriented</li>
        </ul>
        <p>That is why we offer smart and flexible price policy.</p>