      <h1><a name="services">Services</a></h1>
        <article id="airport" class="airport">
          <h1 class="title">Airports & Commercial Airlines<span class="icon"></span></h1>
          <ul class="services__list">
            <li>research and analysis of&nbsp;Russian and CIS aviation industry</li> 
            <li>research and analysis of&nbsp;routes from/to Russia and CIS</li>
            <li>monitoring and reporting on&nbsp;a&nbsp;regular basis of&nbsp;Russian and CIS&nbsp;aviation markets</li> 
            <li>organization and support of&nbsp;personal meetings with targeted airlines and&nbsp;co-partners (key decision makers, governmental representatives,&nbsp;etc)</li> 
            <li>recommendations on&nbsp;participation in&nbsp;the industry events/conferences in&nbsp;Russia and CIS</li> 
          </ul>
        </article>

        <article id="businessair" class="business-services">
          <h1 class="title">Business Aviation Services<span class="icon"></span></h1>
          <ul  class="services__list">
            <li>analysis of Russian and&nbsp;CIS general aviation industry</li> 
            <li>organization of the business meetings with key/main Russian&nbsp;and&nbsp;CIS brokers</li> 
          </ul>
        </article>